/* custom css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.font-weight-400{
    font-weight: 400;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-700{
    font-weight: 700;
}

.font-weight-800{
    font-weight: 800;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.pricing-div{
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}
.pricing-div hr{
    border: 1px solid #E9EAEC;
    background-color: #E9EAEC;
    
}
.text-grey{
    color: #636973;
}
.pricing-div p{
    color: #636973;
    margin: 0;
    padding: 0;
}

.btn{
    border-radius: 8px;
}

.border-white-75{
    border-color: rgba(255, 255, 255, 0.75) !important;
}

.header-box{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(32px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;
}

#places{
    background-image: url(../images/map.jpeg);
    background-size: cover;
    background-position: center center;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.left-valid{
    border-color:#28a745 ;
}
.left-invalid{
    border-color:#dc3545 ;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.pricing-file input[type=file] {
    color: #C8CBD0;
    font-size: 12px;
    padding: 3px;
}
.pricing-file input[type=file]::file-selector-button {
    font-size: 12px;
    border: 0;
    color: white;
    padding: 6px;
    border-radius: 8px;
    background-color: #3B71FE;
}
input[type=file]::file-selector-button {
    border: 0;
    color: white;
    padding: .4em .8em;
    border-radius: 8px;
    background-color: #3B71FE;
}
  
input[type=file]::file-selector-button:hover {
    background-color: #5787ff;
}

.img-container{
    max-height: 200px;
    overflow-y: hidden;
}

.bg-gray{
    background-color: #E9EAEC;
}

.bg-dark{
    background-color: #3E444D;
}

.badge-yellow{
    background-color: #FFDB82;
    color: #CC9200;
    border-radius: 8px;
    font-size: 12px;
    padding: 5px;
}

.offre-card{
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    max-width: 20em;
}

.card-pill{
    background-color: white;
    padding: 0.25rem;
    border-radius: 8px;
    position: absolute;
    top: 20px; left: 38px;
}

.rounded-16{
    border-radius: 16px;
}

.rounded-8{
    border-radius: 8px;
}

.rounded-left-8{
    border-radius: 8px 0 0 8px;
}

.rounded-right-8{
    border-radius: 0 8px 8px 0;
}

.text-white-75{
    color: rgba(255, 255, 255, 0.75);
}

.text-dark{
    color: #3E444D;
}

.text-primary{
    color: #3B71FE;
}

.custom-dropdown{
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(32px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    border: 0;
}

.modal-blur{
    backdrop-filter: blur(8px);
}
/* overwriting bootstrap css */
.is-valid{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    color: #28a745;
    background-image: url('/images/icons/CheckCircle.png') !important;
}
.is-invalid{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    color: #dc3545;
    background-image: url('/images/icons/cross_circle_icon.png') !important;
}
.nav-tabs .nav-item .nav-link{
    color: #A0A4AB;
    font-weight: 700;
}

.nav-tabs .nav-item .nav-link :hover{
    color: #A0A4AB;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #3B71FE;
    background-color: unset;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-color: #3B71FE;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.btn-link:focus{
    box-shadow: none;
}

.btn-primary {
    color: white;
    background-color: #3B71FE;
    border-color: #3B71FE
}

.btn-primary:hover {
    color: white;
    background-color: #6E97FF;
    border-color: #6E97FF
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: white;
    background-color: #6E97FF;
    border-color: #5bc2c2
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: white;
    background-color: #6E97FF;
    border-color: #2e7c7c
}


/* overwriting owl carousel css */
.owl-carousel .owl-item img {
    display: initial;
    width: unset;
}

/* overwriting selectpicker */
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle{
    outline: 0!important;
}