/* custom css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.font-weight-400{
    font-weight: 400;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-700{
    font-weight: 700;
}

.font-weight-800{
    font-weight: 800;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 12px;
}

.btn{
    border-radius: 8px;
}

.border-white-75{
    border-color: rgba(255, 255, 255, 0.75) !important;
}

.header-box{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(32px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;
}

#places{
    background-image: url(../images/map.jpeg);
    background-size: cover;
    background-position: center center;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.img-container{
    max-height: 200px;
    overflow-y: hidden;
}

.bg-gray{
    background-color: #E9EAEC;
}

.bg-dark{
    background-color: #3E444D;
}

.badge-yellow{
    background-color: #FFDB82;
    color: #CC9200;
    border-radius: 8px;
    font-size: 12px;
    padding: 5px;
}

.offre-card{
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}

.card-pill{
    background-color: white;
    padding: 0.25rem;
    border-radius: 8px;
    position: absolute;
    top: 20px; left: 38px;
}

.rounded-16{
    border-radius: 16px;
}

.text-white-75{
    color: rgba(255, 255, 255, 0.75);
}

.text-dark{
    color: #3E444D;
}
/* overwriting bootstrap css */

.nav-tabs .nav-item .nav-link{
    color: #A0A4AB;
    font-weight: 700;
}

.nav-tabs .nav-item .nav-link :hover{
    color: #A0A4AB;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #3B71FE;
    background-color: unset;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-color: #3B71FE;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

/* overwriting owl carousel css */
.owl-carousel .owl-item img {
    display: initial;
    width: unset;
}